@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Nanum Gothic', sans-serif;
}
a {
    text-decoration: none !important;
}
header {
    position: fixed;
    margin-left: 1200px;

    width: 600px;
    height: 50px;
    padding: 1rem;
    color: rgb(15, 43, 126);
    background: rgba(196, 209, 243, 0.726);
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 0px 0px 25px 25px;

    z-index: 10;
}
header>nav>a {
    text-decoration: none;
    color: inherit;
    padding: 30px;
    transition: 0.2s;
}
nav {
    display: flex;
}

header>nav>a:hover {
    color: rgb(128, 151, 211);
    transform: scale(1.08);
}

.logo-row {
    margin-top: 35px;
    height: 80px;
}
.typing {
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 1.8rem;

    position: absolute;
    top: 635px;
    left: 310px;
    text-align: center;
}

.text {
    font-size: 2.2rem;
    margin-left: 0.6rem;
    color: #ffffff;
    font-size: 70px;
    font-weight: bold;
    z-index: 10;
}

.text::after {
    content: '';
    margin-left: .4rem;
    border-right: 8px solid none;
    animation: cursor .9s infinite steps(2);
}
@keyframes cursor {
    from {
        border-right: 8px solid #ffffff;
    }

    to {
        border-right: 8px solid none;
    }
}
.card {
    margin: 0 auto;
    border: none;
}

.midle-row {
    padding-left: 250px;
    background-color: rgb(218, 224, 240);

    margin-bottom: 20px;
}

.midle-row>.nav>.nav-item>.nav-link {
    font-size: larger;
    font-weight: bold;
    color: rgb(15, 43, 126);

    transition: 0.4s;
}

.midle-row>.nav>.nav-item>.nav-link:hover {
    color: rgb(81, 152, 211);
}

.slide-img img {
    width: 1903.4px;
}
.school-row {
    margin-top: 60px;
    margin-bottom: 30px;
}
.school-text {
    font-weight: bold;
    margin: 0 auto;

    text-align: center;
    color: rgb(15, 43, 126);
}

.card-header {
    border-bottom: 4px solid rgb(177, 193, 230);
    font-weight: bold;
}
.card-title {
    font-weight: bold;
}
.card-deck h5 {
    font-weight: bold;
}
.card-deck p {
    font-size: 13px;
    font-weight: bold;

    color: gray;
}

.card-deck {
    overflow: hidden;

    text-align: center;
    margin-bottom: 70px;
}

.card-deck img {
    width: 360px;
    height: 200px;

    transition: 0.4s;
}
.card-deck img:hover {
    transform: scale(1.02);
}

.footer{
    background-color: #333333;
    color: #777777;
    list-style-type: none;

    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 150px;

    font-size: 12px;
    font-weight: bold;
}

.card-notice-text {
    border-bottom: 3px solid black;
}

.btn-primary {
    background-color:  rgb(176, 186, 212);
    transition: 0.8s;
    border: 1px solid black;
    color: black;
}

.btn-primary:hover {
    background-color: rgb(128, 151, 211);
    color:black;
    border: 1px solid black;
}
.card-img-top {
    border-radius: 20px;
}
.notice-card-img {
    width: 700px;
    height: 300px;
    border-radius: 20px;

    overflow: hidden;
}
.notice-card-img img {
    width: 700px;
    height: 300px;

    border-radius: 20px;
}

.notice-cardbody {
    background-color: rgb(218, 224, 240);
    color: black;
    border-radius: 5%;
}